<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragonrider.swrpgcompanion" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Classes.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroundFightActivities.GroundFightActivity"
            android:label="@string/title_activity_ground_fight"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroundFightActivities.AddFightersActivity"
            android:label="@string/title_activity_add_fighters"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroundFightActivities.StartGroundFightActivity"
            android:label="@string/title_activity_start_ground_fight"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayerActivities.EditPlayerActivity"
            android:label="@string/title_activity_edit_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditorNPC.NPCEditorActivity"
            android:label="@string/title_activity_npceditor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroundFightActivities.GroundFightAttackResolver"
            android:label="@string/title_activity_groundfightresolver"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroundFightActivities.GroundFightForceResolver"
            android:label="@string/title_activity_groundfightresolver"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NPCViewer.ShowNPCActivity"
            android:label="@string/title_activity_shownpc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Sabacc.ActivitySabaccGame"
            android:label="@string/title_sabacc_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Classes.ActivitySelectNPC"
            android:label="@string/title_chosenpc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroundFightActivities.GroundFightPrepareActivity"
            android:label="@string/title_activity_ground_fight_prepare" >
        </activity>
        <activity
            android:name=".GroundFightActivities.GroundFightPrepareList"
            android:label="@string/title_activity_ground_fight_prepare_list" >
        </activity>
        <activity
            android:name=".GroundFightActivities.GroundFightMultiPanelActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_ground_fight_multi_panel" >
        </activity>
        <activity
            android:name=".NPCViewer.NpcViewerActivity"
            android:label="@string/title_activity_npc_viewer" >
        </activity>
        <activity
            android:name=".Scenario.activityScenarioEditor"
            android:label="@string/title_activity_activity_scenario_editor" >
        </activity>
        <activity
            android:name=".Scenario.activityScenarioViewer"
            android:label="@string/title_activity_activity_scenario_viewer" >
        </activity>
        <activity
            android:name=".XWingWrapper.ViewVehicleActivity"
            android:label="@string/activity_vehicle_viewer_title" >
        </activity>
        <activity android:name=".XWingWrapper.VehicleFightActivity"
            android:label="@string/activity_vehiclefight" />

    </application>

</manifest>
